@using (Html.BeginForm("deleteRow", "UserController", FormMethod.Post))
{
    <h2>delete multiple Rows</h2>
    <table style="background-color:azure" border="1">
        <thead style="background-color:Background">
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Stream
                </th>
                <th>
                    College
                </th>
                <th>
                    Address
                </th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorForModel()
        </tbody>
    </table>

    <input type="submit" value="Delete selected student" />

}  